body {
    margin: 0;
    padding: 0;
}

.top-bar {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #FFF;
    background-color: #000;
    padding: 5px;
    border-bottom: 5px solid #fd8a24;
}

.container {
    max-width: 70%;
    margin: auto;
    text-align: justify;
}

.headline {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    line-height: 58px;
}

.subtitle {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.autor {
    font-weight: bold;
    font-size: 0.8em;
}

.social-icons {
    margin-top: 10px;
}

a {
    text-decoration: none;
}

.social-icon {
    width: 20px;
    padding: 10px 0px;
}

.paragrafos {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    line-height: 30px;
    max-width: 80%;
    margin: auto;
    margin-top: 10px;
}

.footer {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    text-align: center;
    padding: 10px;
    background-color: #000;
    color: #FFF;
}